mixin table-1()
  table.table
    <col width='15%'>
    <col width='25%'>
    <col width='25%'>
    <col width='17%'>
    <col width='18%'>
    thead.table__thead
      tr.table__tr
        th.table__th Сорт топлива
        th.table__th Экологический класс
        th.table__th Производитель
        th.table__th Наличный расчет
        th.table__th Безналичный расчет
    tbody.table__tbody
      tr.table__border-spacing
      tr.table__tr
        th.table__rth(rowspan="5") ДТ
        td.table__td(rowspan="3") ЕВРО-5
        td.table__td Газпромнефть
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td Лукойл
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td Роснефть
        td.table__td 42.34 р.
        td.table__td 41.00 р.
      tr.table__tr
        td.table__td(rowspan="2") ЕВРО-4
        td.table__td Газпромнефть
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td Лукойл
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__border-spacing
      tr.table__tr
        th.table__rth(rowspan="7") АИ-95
        td.table__td(rowspan="3") ЕВРО-5
        td.table__td Газпромнефть
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td Лукойл
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td Роснефть
        td.table__td 42.34 р.
        td.table__td 41.00 р.
      tr.table__tr
        td.table__td(rowspan="2") ЕВРО-4
        td.table__td Газпромнефть
        td.table__td -
        td.table__td -
      tr.table__tr
        td.table__td Лукойл
        td.table__td 45.43 р.
        td.table__td 44.43 р.
      tr.table__tr
        td.table__td(rowspan="2") ЕВРО-3
        td.table__td Газпромнефть
        td.table__td -
        td.table__td -
      tr.table__tr
        td.table__td Лукойл
        td.table__td 45.43 р.
        td.table__td 44.43 р.
    tfoot.table__foot