mixin subscription-text-field(opts)
  .subscription-text-field
    +dropdown(opts)

//- +subscription-text-field({
//-   js: false, 
//-   dropdownId: false,
//-   label: 'subscription text field', 
//-   type: 'email', 
//-   placeholder: 'Email', 
//-   tabindex: 1,
//-   arrowSvg: {
//-     name: 'arrow-forward', 
//-     fill: "#BC9CFF",
//-     opacity: null,
//-   }
//- })