+room-card({
  images: [
    require('../.../../assets/img/room-card/room-888/imageroom-image-888.jpg'),
    require('../.../../assets/img/room-card/room-888/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-888/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-888/imageroom-image-888-4.jpg'),
  ],
  number: '888',
  characteristic: 'ЛЮКС',
  worth: '9 990',
  rateButton: {
    title: false,
    star: 5,
    starBorder:0
  },
  reviewsCount:'145'
})
+room-card({
  images: [
    require('../.../../assets/img/room-card/room-840/imagefirst.jpg'),
    require('../.../../assets/img/room-card/room-840/20.jpg'),
    require('../.../../assets/img/room-card/room-840/23.jpg'),
    require('../.../../assets/img/room-card/room-840/29.jpg'),
  ],
  number: '840',
  characteristic: false,
  worth: '9 990',
  rateButton: {
    title: false,
    star: 4,
    starBorder:1
  },
  reviewsCount:'65'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-980/image.jpg'),
    require('../.../../assets/img/room-card/room-980/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-980/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-980/imageroom-image-888-4.jpg'),
  ],
  number: '980',
  characteristic: "ЛЮКС",
  worth: '8 500',
  rateButton: {
    title: false,
    star: 4,
    starBorder:1
  },
  reviewsCount:'65'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-856/image-3.jpg'),
    require('../.../../assets/img/room-card/room-856/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-856/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-856/imageroom-image-888-4.jpg'),
  ],
  number: '856',
  characteristic: false,
  worth: '7 300',
  rateButton: {
    title: false,
    star: 5,
    starBorder:0
  },
  reviewsCount:'19'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-740/image-1.jpg'),
    require('../.../../assets/img/room-card/room-740/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-740/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-740/imageroom-image-888-4.jpg'),
  ],
  number: '740',
  characteristic: false,
  worth: '6 000',
  rateButton: {
    title: false,
    star: 4,
    starBorder:1
  },
  reviewsCount:'44'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-982/image-4.jpg'),
    require('../.../../assets/img/room-card/room-982/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-982/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-982/imageroom-image-888-4.jpg'),
  ],
  number: '982',
  characteristic: false,
  worth: '5 800',
  rateButton: {
    title: false,
    star: 3,
    starBorder:2
  },
  reviewsCount:'56'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-678/image-6.jpg'),
    require('../.../../assets/img/room-card/room-678/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-678/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-678/imageroom-image-888-4.jpg'),
  ],
  number: '678',
  characteristic: false,
  worth: '5 500',
  rateButton: {
    title: false,
    star: 5,
    starBorder:0
  },
  reviewsCount:'45'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-450/image-8.jpg'),
    require('../.../../assets/img/room-card/room-450/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-450/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-450/imageroom-image-888-4.jpg'),
  ],
  number: '450',
  characteristic: false,
  worth: '5 300',
  rateButton: {
    title: false,
    star: 4,
    starBorder:1
  },
  reviewsCount:'39'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-350/image-5.jpg'),
    require('../.../../assets/img/room-card/room-350/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-350/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-350/imageroom-image-888-4.jpg'),
  ],
  number: '350',
  characteristic: false,
  worth: '5 000',
  rateButton: {
    title: false,
    star: 3,
    starBorder:2
  },
  reviewsCount:'77'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-666/image-2.jpg'),
    require('../.../../assets/img/room-card/room-666/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-666/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-666/imageroom-image-888-4.jpg'),
  ],
  number: '666',
  characteristic: false,
  worth: '5 000',
  rateButton: {
    title: false,
    star: 5,
    starBorder:0
  },
  reviewsCount:'25'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-444/image-7.jpg'),
    require('../.../../assets/img/room-card/room-444/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-444/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-444/imageroom-image-888-4.jpg'),
  ],
  number: '444',
  characteristic: false,
  worth: '5 000',
  rateButton: {
    title: false,
    star: 3,
    starBorder:2
  },
  reviewsCount:'15'
})

+room-card({
  images: [
    require('../.../../assets/img/room-card/room-352/image 2.jpg'),
    require('../.../../assets/img/room-card/room-352/imageroom-image-888-2.jpg'),
    require('../.../../assets/img/room-card/room-352/imageroom-image-888-3.jpg'),
    require('../.../../assets/img/room-card/room-352/imageroom-image-888-4.jpg'),
  ],
  number: '352',
  characteristic: false,
  worth: '5 000',
  rateButton: {
    title: false,
    star: 3,
    starBorder:2
  },
  reviewsCount:'55'
})