mixin images-slider(opts)
  .images-slider.js-images-slider
    .images-slider__filter
    .images-slider__line.js-images-slider__line
      for imgPath in opts
        .images-slider__slide.ibg.js-images-slider__slide
          img(src=imgPath, alt="image room")
    .images-slider__control
      .images-slider__control-previous.js-images-slider__control-previous
      .images-slider__control-next.js-images-slider__control-next
      .images-slider__control-progress.js-images-slider__control-progress
        .js-images-slider__control-progress-item.js-images-slider__control-progress-item--active

//- +images-slider([
//-   require('../.../../assets/img/room-card/room-888/imageroom-image-888.jpg'),
//-   require('../.../../assets/img/room-card/room-888/imageroom-image-888-2.jpg'),
//-   require('../.../../assets/img/room-card/room-888/imageroom-image-888-3.jpg'),
//-   require('../.../../assets/img/room-card/room-888/imageroom-image-888-4.jpg'),
//- ])