// Font
$mainFont                : "Roboto", sans-serif;
$bs-font-sans-serif      : system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
// Size
$mainFontColor           : #fff;
$mainFontSize            : 10px;
$maxFontSize             : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// $maxWidth	             : 1046;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #fff;
$primary-color           : #202020;
$secondery-color         : #121212;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266; 
$neutral-secondary       : #909399; 
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// z-indexs
$z-header				 : 1010;
$z-sidebar				 : 1000;
$z-modal-window			 : 1001;

// size elements
$sidebar-width      	 : 300px;

// breakpoints

$br-tablet				 : 991px;
$br-modile				 : 600px;