mixin signing-in(opts)
  .signing-in.card
    .card__item
      .signing-in__title.type-h1= (opts.title)
    .card__item.card__group
      +field(opts.fieldName)
      +field(opts.fieldSurname)
    .card__item.signing-in__button-arrow
      +button-arrow(opts.buttonArrow)
    .card__item
      .card__space-between
        p.card__account-actions-text.type-body= (opts.accountActionsText)
        +button-border-gradient(opts.buttonBorder)