extends ../../sys/pug/main.pug

block variables
	- var title = 'processing24';
	- var description = 'Топливные карты';
	//- - var pageClass = 'show-sidebar';
	
block content
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug

