mixin item-checkbox(opts)
  .item-checkbox
    label.item-checkbox__label
      input(type="checkbox" checked=opts.isChecked)
      span.item-checkbox__pseudo-flag
        span.item-checkbox__icon
          +svg({
            id:'#tick',
            width: 14,
            height: 10,
          })
      span.item-checkbox__text= opts.text

//- +item-checkbox({
//-   text:'Завтрак', isChecked: false
//- },)