mixin input-mask(opts)
  +field(opts)

//- +input-mask({
//-   label: 'tel field',
//-   type: 'tel',
//-   name: 'phone-field',
//-   placeholder: '+7 (___) ___-__-__',
//-   tabindex: 1,
//-   required: true,
//- })