//- elements
include ../../elements/elements-page/elements-page.pug

//- cards
include ../find-room/find-room.pug
include ../account-registration/account-registration.pug
include ../room-reservation/room-reservation.pug
include ../signing-in/signing-in.pug
include ../room-card/room-card.pug
//- include ../find/find.pug
//- include ../find/find.pug
//- include ../find/find.pug
//- include ../find/find.pug
//- include ../find/find.pug
//- include ../find/find.pug
