mixin masked-text-field(opts)
  .masked-text-field.js-masked-text-field
    +field(opts)

//- +masked-text-field({
//-   label: 'masked text field',
//-   type: 'text',
//-   name: 'masked-text-field',
//-   placeholder: 'ДД.ММ.ГГ',
//-   tabindex: 1,
//-   required: true,
//- })